.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #3b2f2f; /* Light gray background */
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #2a2424; /* Blue thumb */
    -fx-background-radius: 5px; /* Rounded corners */
}

.scroll-pane .scroll-bar:vertical .thumb:hover,
.scroll-pane .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #2a2424; /* Darker blue on hover */
}

.scroll-pane .scroll-bar:vertical .thumb:pressed,
.scroll-pane .scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #2a2424; /* Even darker blue when pressed */
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent; /* No button background */
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: black; /* black arrows */
}
.scroll-pane > .viewport {
    -fx-background-color: #3b2f2f;
}
.root {
    -fx-background-color: #3b2f2f; /* Same as UI background */
}
.button{
    -fx-background-radius: 50 50 50 50;
    -fx-background-color: #2a2424;
}
#houseSize{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#busTravel{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#metroTravel{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#trainTravel{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#electricityBill{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#renewableBill{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#gasBill{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#stuffSpending{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#clotheSpending{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}
#serviceSpending{
    -fx-text-fill: white;
    -fx-background-radius: 50 50 50 50;
}